backend/node_modules/
backend/.env
backend/dist/
backend/.gitignore
backend/generated/prisma

frontend/dist/
frontend/.env.local
frontend/node_modules/
frontend/.gitignore
frontend/.next/
frontend/out/
frontend/.vercel/
frontend/.DS_Store
frontend/.env*.local
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/*.tsbuildinfo


.agents
.codex
.env.example
